<!DOCTYPE html>
<html>

<%- include('./layouts/header')%>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <%- include('./layouts/navigation')%>

    <!--Page Title-->
    <section class="page-title" style="background-image:url(/frontend/images/background/9.jpg)">
    	<div class="auto-container">
        	<h2>Shops</h2>
            <ul class="page-breadcrumb">
            	<li><a href="/">home</a></li>
                <li>Shop</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                	<!--Shop Single-->
                	<div class="shop-section">
						
                        <!--Sort By-->
                        <div class="items-sorting">
                        	<div class="row clearfix">
                                <div class="results-column col-md-6 col-sm-6 col-xs-12">
                                    <h6>Showing Items 1–9 of 36 results</h6>
                                </div>
                                <div class="select-column pull-right col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <select name="sort-by">
                                            <option>Default Sorting</option>
                                            <option>By Order</option>
                                            <option>By Price</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="our-shops">
                        	
                            <div class="row clearfix">
                            	
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_1.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_1.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Flying Ninija</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li>$12.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_2.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_2.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Premium Quality</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li class="discount">$20</li>
                                                	<li>$12.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_3.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_3.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Ship Your Idea</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li>$45.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_4.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_4.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Happy Ninja</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li>$45.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_5.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_5.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Patient Ninja</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li>$45.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                        	<div class="sale">Sale</div>
                                            <img src="/frontend/images/products/auto_6.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_6.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Woo Ninja</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li class="discount">$10</li>
                                                	<li>$45.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_7.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_7.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Ninja Silhouette </a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li class="discount">$45</li>
                                                	<li>$30.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_8.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_8.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Premium Quality</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li>$45.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_9.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_9.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Woo Ninja</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li>$45.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                        	<div class="sale">Sale</div>
                                            <img src="/frontend/images/products/auto_10.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_10.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Ninja Silhouette </a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li class="discount">$45</li>
                                                	<li>$30.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_11.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_11.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Patient Ninja </a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li>$45.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Shop Item-->
                                <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="/frontend/images/products/auto_12.png" alt="" />
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="shop-single.html"><span class="flaticon-shopping-cart-of-checkered-design"></span></a></li>
                                                    <li><a href="/frontend/images/products/auto_12.png" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content clearfix">
                                        	<div class="pull-left">
                                            	<h6><a href="shop-single.html">Ninja Silhouette</a></h6>
                                            </div>
                                            <div class="pull-right">
                                            	<ul class="price">
                                                	<li>$45.00</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <!--Styled Pagination-->
                        <ul class="styled-pagination text-center">
                            <li class="prev"><a href="#"><span class="fa fa-angle-left"></span></a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#"><span class="fa fa-angle-right"></span></a></li>
                        </ul>                
                        <!--End Styled Pagination-->
                        
                    </div>
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
                	<aside class="sidebar default-sidebar">
						
						<!-- Search Form -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="http://ary-themes.com/html/buliten/blog.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search">
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
						<!-- End Search Form -->
						
						<!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title-two">
                                <h2>Categories</h2>
                            </div>
                            <ul class="blog-cat-two">
                                <li><a href="#">Business Growth <span>(6)</span></a></li>
                                <li><a href="#">Consulting <span>(2)</span></a></li>
                                <li><a href="#">Management <span>(5)</span></a></li>
                                <li><a href="#">Customer Insights <span>(10)</span></a></li>
                                <li><a href="#">Organization <span>(4)</span></a></li>
                            </ul>
                        </div>
						
						<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title-two"><h2>Recent News</h2></div>

                            <article class="post">
                                <div class="text"><a href="#">Tips for small small industry decoration</a></div>
                                <div class="post-info">20 Dec. 2018</div>
                            </article>

                            <article class="post">
                                <div class="text"><a href="#">Tips for small small industry decoration</a></div>
                                <div class="post-info">20 Nov. 2018</div>
                            </article>
                            
                            <article class="post">
                                <div class="text"><a href="#">Tips for small small industry decoration</a></div>
                                <div class="post-info">20 feb. 2018</div>
                            </article>
                            
                            <article class="post">
                                <div class="text"><a href="#">Tips for small small industry decoration</a></div>
                                <div class="post-info">20 Jun. 2018</div>
                            </article>

                        </div>
						
						<!-- Archives -->
                        <div class="sidebar-widget archives">
                            <div class="sidebar-title-two"><h2>Archives</h2></div>
                            <ul class="list">
                                <li><a href="#">September 2018</a></li>
                                <li><a href="#">October 2018</a></li>
                                <li><a href="#">November 2018</a></li>
                                <li><a href="#">December 2018</a></li>
                            </ul>
                        </div>
                        
                        <!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">
                        	<div class="sidebar-title-two"><h2>Popular Tags</h2></div>
                            <a href="#">Energy</a>
                            <a href="#">Import</a>
                            <a href="#">Recycling</a>
                            <a href="#">Forests</a>
                            <a href="#">Industries</a>
                            <a href="#">wastage</a>
                        </div>
						
					</aside>
				</div>
			</div>
       
        </div>
    </div>
    <!--End Shop Section-->
	
	<!--Sponsors Section-->
    <section class="sponsors-section-two" style="background-image:url(/frontend/images/background/8.jpg)">
    	<div class="auto-container">
        	
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/6.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/7.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/8.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/9.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/10.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/6.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/7.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/8.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Sponsors Section-->
	<%- include('./layouts/footer')%>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<%- include('./layouts/script')%>

</body>

</html>