<!DOCTYPE html>
<html>

    <%- include('./layouts/header')%>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <%- include('./layouts/navigation')%>

    <!--Page Title-->
    <section class="page-title" style="background-image:url(/frontend/images/background/9.jpg)">
    	<div class="auto-container">
        	<h2>Our Services</h2>
            <ul class="page-breadcrumb">
            	<li><a href="/">home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Services Section -->
	<section class="services-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title-inner">
					<div class="title">Welcome to</div>
					<h2>VK Group | Auto and Construction</h2>
				</div>
			</div>
			
			<div class="row clearfix">
			
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="#"><img src="/frontend/images/resource/service-1.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="#">ພະລັງງານກາສທຳມະຊາດ</a></h3>
							<div class="text">Russia has become a major global player on my different levels in market....</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="#"><img src="/frontend/images/resource/service-2.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="#">ປະກອບລົດຮັບໃຊ້ໂຄງການ</a></h3>
							<div class="text">Provide a wide range of services related to the basic line of engineering.....</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block -->
				<div class="services-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="#"><img src="/frontend/images/resource/service-3.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="upper-layer"></div>
							<div class="lower-layer"></div>
							<h3><a href="#">ຄົ້ນຄວາ ແລະ ວິໄຈພະລັງງານສະອາດ</a></h3>
							<div class="text">All chemical research involves one or moor core activities such so projects.....</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row clearfix">
				<!-- Services Block Two -->
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/frontend/images/resource/service-4.jpg" alt="" />
						</div>
						<h3><a href="#">ໄຟຟ້າ ແລະ ລົດໄຟຟ້າ</a></h3>
						<div class="text">Modern society consumes large amounts of fuel,</div>
					</div>
				</div>
				
				<!-- Services Block Two -->
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/frontend/images/resource/service-6.jpg" alt="" />
						</div>
						<h3><a href="#">ບໍລິການກໍ່ສ້າງເຄຫະ</a></h3>
						<div class="text">Agriculrure processing is the transformation ...</div>
					</div>
				</div>	
				
				<!-- Services Block Two -->
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="/frontend/images/resource/service-6.jpg" alt="" />
						</div>
						<h3><a href="#">ໂຮງງານອາສຟານ</a></h3>
						<div class="text">Modern society consumes large amounts of fuel, </div>
					</div>
				</div>	
			</div>
			
		</div>
	</section>
	<!-- End Services Section -->
	
	<!-- Services Section Two -->
	<section class="services-section-two">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Title Column -->
				<div class="title-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title-inner">
								<div class="title">Welcome to</div>
								<h2>VK Group Auto and Construction</h2>
							</div>
						</div>
						<div class="text">You will find yourself working in a true partnership that results in an incredible experience, and an end product that is the best.</div>
						<a class="read-more" href="#">View All <span class="arrow fa fa-angle-double-right"></span></a>
					</div>
				</div>
				
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-4 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-flask"></div>
							<h6><a href="#">Chemical Engineering</a></h6>
						</div>
						<div class="text">Modern society consumes large amounts of fuel, and the energy industry is a crucial part of the infrastructure .</div>
						<a class="read-more" href="#">read more <span class="arrow fa fa-angle-double-right"></span></a>
					</div>
				</div>
				
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-4 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-bolt"></div>
							<h6><a href="#">Energy & Power</a></h6>
						</div>
						<div class="text">Modern society consumes large amounts of fuel, and the energy industry is a crucial part of the infrastructure .</div>
						<a class="read-more" href="#">read more <span class="arrow fa fa-angle-double-right"></span></a>
					</div>
				</div>
				
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-4 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-fire-extinguisher"></div>
							<h6><a href="#">Oil & Gas Engineering</a></h6>
						</div>
						<div class="text">Modern society consumes large amounts of fuel, and the energy industry is a crucial part of the infrastructure .</div>
						<a class="read-more" href="#">read more <span class="arrow fa fa-angle-double-right"></span></a>
					</div>
				</div>
				
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-4 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-pagelines"></div>
							<h6><a href="#">Agriculture Engineering</a></h6>
						</div>
						<div class="text">Modern society consumes large amounts of fuel, and the energy industry is a crucial part of the infrastructure .</div>
						<a class="read-more" href="#">read more <span class="arrow fa fa-angle-double-right"></span></a>
					</div>
				</div>
				
				<!-- Services Block Three -->
				<div class="services-block-three col-lg-4 col-md-12 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon fa fa-paint-brush"></div>
							<h6><a href="#">Mechanical Engineering</a></h6>
						</div>
						<div class="text">Modern society consumes large amounts of fuel, and the energy industry is a crucial part of the infrastructure .</div>
						<a class="read-more" href="#">read more <span class="arrow fa fa-angle-double-right"></span></a>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Services Section Two -->
	
	<!-- Newsletter Section Two -->
	<section class="newsletter-section-two" style="background-image:url(images/background/6.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Title Column -->
				<div class="title-column col-lg-7 col-md-12 col-sm-12">
					<!-- Sec Title -->
					<div class="sec-title light">
						<div class="title-inner">
							<div class="title">News Letter</div>
							<h2>Join Our Community</h2>
						</div>
					</div>
					<div class="text">Getting quality Industrial Care with Induzy is easier than ever. <br> Let us treat your loved ones like family!</div>
					
					<!-- Newsletter Form -->
					<div class="newsletter-form">
						<form method="post" action="http://ary-themes.com/html/buliten/contact.html">
							<div class="form-group clearfix">
								<input type="email" name="email" value="" placeholder="Email Address" required>
								<button type="submit" class="theme-btn btn-style-four">Submit Now</button>
							</div>
						</form>
					</div>
					
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="/frontend/images/resource/newsletter.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>
	
	<!--Sponsors Section-->
    <section class="sponsors-section">
    	<div class="auto-container">
        	
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/frontend/images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Sponsors Section-->
	
<%- include('./layouts/footer')%>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>


<%- include('./layouts/script')%>

</body>

</html>