    <!-- Main Header / Header Style Two-->
    <header class="main-header header-style-two">
    	
    	<!--Header Top-->
    	<div class="header-top-two">
    		<div class="auto-container">
				<div class="clearfix">
					<!--Top Left-->
					<div class="top-left">
						<!--Social Box-->
						<ul class="social-box">
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						</ul>
					</div>
					<!--Top Right-->
					<div class="top-right">
						<div class="timing">Opening Hours: Monday - Saturday 9 am to 5 pm</div>
						<!--Language-->
                        <div class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="flag-icon"><img src="images/icons/flag-icon.jpg" alt=""/></span>English &nbsp;<span class="icon fa fa-angle-down"></span></a>
                        	<ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                                <li><a href="#">English</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Arabic</a></li>
                                <li><a href="#">Hindi</a></li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
    	
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href="/"><img src="/frontend/images/vk_logo.png" alt="" title=""></a></div>
                    </div>
                    
                    <div class="pull-right upper-right">
                    	<div class="info-outer clearfix">
						
							<!--Info Box-->
							<div class="upper-column info-box">
								<div class="icon-box"><span class="flaticon-clock-1"></span></div>
								<ul>
									<li><span>Time Office:</span> <br> Monday to Friday  9:00am - 6:00pm</li>
								</ul>
							</div>
							
							<!--Info Box-->
							<div class="upper-column info-box">
								<div class="icon-box"><span class="flaticon-contact-1"></span></div>
								<ul>
									<li><span>Call Us:</span> <br> 1300 555 6578</li>
								</ul>
							</div>
							
							<!--Info Box-->
							<div class="upper-column info-box">
								<div class="icon-box"><span class="flaticon-email-1"></span></div>
								<ul>
									<li><span>Email:</span> <br> builtionindustry@hotmail.com</li>
								</ul>
							</div>
							
                        </div>
						
                    </div>
                    
                </div>
				
            </div>
        </div>
        <!--End Header Upper-->
        
		<!--Header Lower-->
		<div class="header-lower">
			
			<div class="auto-container clearfix">
				<div class="nav-outer clearfix">
					<!-- Main Menu -->
					<nav class="main-menu navbar-expand-md">
						<div class="navbar-header">
							<!-- Toggle Button -->    	
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						
						<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
							<ul class="navigation clearfix">
								<li><a href="/">Home</a></li>
								
								<li class="current dropdown"><a href="#">Services</a>
									<ul>
										<li><a href="/service">Services</a></li>
										<li><a href="#">ບໍລິການກໍ່ສ້າງເຄຫະ</a></li>
										<li><a href="#">ຂ່າຍລົດຫຼູ</a></li>
										<li><a href="#">ຂາຍລົດຮັບໃຊ້ໂຄງການ</a></li>
										<li><a href="#">ໂຮງງານອາສຟານ</a></li>
										<li><a href="/auto-engineer">ໂຮງງານປະກອບລົດໂຄງການ</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Projects</a>
									<ul>
										<li><a href="#">Projects</a></li>
										<li><a href="#">Projects Detail</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Shop</a>
									<ul>
										<li><a href="/product">Products</a></li>
										<li><a href="#">Product Single</a></li>
										<li><a href="#">Shopping Cart</a></li>
										<li><a href="#">Checkout</a></li>
										<li><a href="#">Account</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Blog</a>
									<ul>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Blog Classic</a></li>
										<li><a href="#">Blog Single</a></li>
										<li><a href="#">Not Found</a></li>
									</ul>
								</li>
                                <li class="dropdown"><a href="#">About</a>
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Faq</a></li>
										<li><a href="#">Team</a></li>
										<li><a href="#">Support?</a></li>
										<li><a href="#">Help?</a></li>
									</ul>
								</li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
					</nav>
					
					<!-- Main Menu End-->
					<div class="outer-box clearfix">
					
						<!--Option Box-->
						<div class="option-box">
							<!--Cart Box-->
							<div class="cart-box">
								<div class="dropdown">
									<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-cart-of-checkered-design"></span><span class="total-cart">2</span></button>
									<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu3">

										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="/frontend/images/resource/post-thumb-3.jpg" alt="" /></div>
												<h3><a href="#">Flying Ninja</a></h3>
												<div class="quantity-text">Quantity 1</div>
												<div class="price">$99.00</div>
											</div>
										</div>
										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="/frontend/images/resource/post-thumb-2.jpg" alt="" /></div>
												<h3><a href="#">Patient Ninja</a></h3>
												<div class="quantity-text">Quantity 1</div>
												<div class="price">$99.00</div>
											</div>
										</div>
										<div class="cart-total">Sub Total: <span>$198</span></div>
										<ul class="btns-boxed">
											<li><a href="#">View Cart</a></li>
											<li><a href="#">CheckOut</a></li>
										</ul>

									</div>
								</div>
							</div>

                            <div class="cart-box">
								<div class="dropdown">
                                    <a href="/admin"><span class="flaticon-next"></span></a>
								</div>
							</div>
							
							<!--Search Box-->
							<div class="search-box-outer">
								<div class="dropdown">
									<button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
									<ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
										<li class="panel-outer">
											<div class="form-container">
												<form method="post" action="http://ary-themes.com/html/buliten/blog.html">
													<div class="form-group">
														<input type="search" name="field-name" value="" placeholder="Search Here" required>
														<button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
													</div>
												</form>
											</div>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="btn-box">
								<a href="/admin" class="theme-btn btn-style-five">Admin Systems</a>
							</div>
							

						</div>
					</div>
					<div class="side-curve"></div>
				</div>
			</div>
		</div>
		<!--End Header Lower-->
		
		<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="/" class="img-responsive"><img src="/frontend/images/vk_logo.png" alt="" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix">
                                <li><a href="/">Home</a></li>
								
								<li class="current dropdown"><a href="#">Services</a>
									<ul>
										<li><a href="/service">Services</a></li>
										<li><a href="#">ບໍລິການກໍ່ສ້າງເຄຫະ</a></li>
										<li><a href="#">ຂ່າຍລົດຫຼູ</a></li>
										<li><a href="#">ຂາຍລົດຮັບໃຊ້ໂຄງການ</a></li>
										<li><a href="#">ໂຮງງານອາສຟານ</a></li>
										<li><a href="#">ໂຮງງານປະກອບລົດໂຄງການ</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Projects</a>
									<ul>
										<li><a href="/product">Projects</a></li>
										<li><a href="projects-detail.html">Projects Detail</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Shop</a>
									<ul>
										<li><a href="/product">Products</a></li>
										<li><a href="shop-single.html">Product Single</a></li>
										<li><a href="shopping-cart.html">Shopping Cart</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="account.html">Account</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Blog</a>
									<ul>
										<li><a href="blog.html">Our Blog</a></li>
										<li><a href="blog-classic.html">Blog Classic</a></li>
										<li><a href="blog-single.html">Blog Single</a></li>
										<li><a href="not-found.html">Not Found</a></li>
									</ul>
								</li>
                                <li class="dropdown"><a href="#">About</a>
									<ul>
										<li><a href="about.html">About Us</a></li>
										<li><a href="faq.html">Faq</a></li>
										<li><a href="team.html">Team</a></li>
										<li><a href="testimonial.html">Testimonial</a></li>
										<li><a href="comming-soon.html">Comming Soon</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->